<footer class="site-footer">
        <section class="footer-info">
            <div class="footer-links">
                    <ul class="footer-contact">
                        <li><i class="fab fa-xing-square"></i> <a href="https://www.xing.com/profile/Hristo_Panev" target="_blank">Xing</a></li>
                        <li><i class="fab fa-github-square"></i> <a href="https://github.com/hristopanev" target="_blank">GitHub</a></li>
                        <li><i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/hristopanef" target="_blank">Facebook</a></li>
                    </ul>
            </div>
            <div class="footer-contact">
                    <ul class="footer-contact">
                        <li><i class="fas fa-map-marker-alt"></i> Wiesbaden, Shiersteiner Straße 20, 65187</li>
                        <li><i class="fas fa-envelope"></i> hristopanef@gmail.com</li>
                        <li><i class="fas fa-phone-volume"></i> Telefon: 01624990489</li>
                    </ul>
            </div>
            <div class="footer-links">
                <ul>
                    <li><i class="fas fa-building"></i> <a href="{{ site.baseurl }}/">Home</a></li>
                    <li><i class="fas fa-file"></i> <a href="{{ site.baseurl }}/resume/">Lebenslauf</a></li>
                    <li><i class="fas fa-user-graduate"></i> <a href="{{ site.baseurl }}/education-about/">Studium</a></li>
                    <li><i class="fas fa-bookmark"></i> <a href="{{ site.baseurl }}/education-certificate/">Zertifikate</a></li>
                    <li><i class="fas fa-file-signature"></i> <a href="{{ site.baseurl }}/contact/">Kontakt</a></li>
                </ul>
            </div>
            <div class="footer-logo">
                <li><img src="{{ site.baseurl }}/image/logo.jpg" alt=""></li>
            </div>
        </section>
        <div class="footer-final">
                <p>All rights reserved &copy; Hristo Panev</p>
        </div>
          
    </footer>