.about {
    /* display: flex; */
    padding: 5em 5em;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4em;
    grid-template-areas: 
        "img text";
}

.img {
    grid-area: img;
}

.text {
    grid-area: text;
}

.about img {
    border-radius: 25px;
}

.about .text {
    font-size: 15px;
}

